<!doctype html>
<html class="no-js" lang="en">
  <head>
    {{> partials/meta }}
    {{> partials/styles }}
  </head>
  <body>
    {{> partials/header pageId=this.pageId }}
    <div class="main {{this.pageId}} clearfix" role="main">
      {{> content }}
    </div>
    {{> partials/footer }}
    {{> partials/scripts }}
    {{#if (eq this.pageId 'schedule')}}
      <script type="module">
        import FilterList from '/resources/js/lib/filterlist.min.js';
        const listElement = document.querySelector('div.schedule ul.list');
        if (listElement) {
          const filter = new FilterList({
            element: listElement,
            urlIsUpdatable: true
          });
        }
      </script>
    {{/if}}

    {{#if (eq this.pageId 'teachers')}}
    <!-- The api that returns next class of a teacher is now invoked during build via node.js so we don't need javascript to call the api anymore. -->
    <!--
    <script>
      var $uls = document.querySelectorAll('div.teachers ul.list');
      if ($uls) {
        [...$uls].forEach(function(ul, key) {
          var url = ul.getAttribute('data-api');
          var request = new XMLHttpRequest();
          request.open('GET', url, true);
          request.onload = function() {
            if (request.status >= 200 && request.status < 400) {
              var resp = request.responseText;
              if (resp.length > 0) {
                ul.parentNode.classList.remove('hidden');
              }
              ul.innerHTML = resp;
              if (ul.querySelector('li') === null) {
                ul.parentNode.classList.add('teacher__section--empty');
              }
            } else {
              // We reached our target server, but it returned an error
              console.log(request.status);
            }
          };

          request.onerror = function() {
            // There was a connection error of some sort
          };
          request.send();
        });
      }
    </script>
    -->
    {{/if}}
  </body>
</html>
