<article class="clearfix" id="hatha-at-info">
	<div>
		<h2>Hatha Yoga</h2>
		<p>This class is ideal for anyone new to yoga and interested in its benefits. It is designed to help students build strength, increase flexibility, find focus, and learn how to let go and relax. The class begins with the practice of breath awareness and simple breathing techniques and a warm-up sequence.  Students then follow a series of standing and floor postures (asanas) to prepare for exhilarating peak poses that are practiced later in class. The class then concludes with a series of cooling and calming postures that would bring students to complete relaxation. The class is moderately paced so that students can learn the fundamental yoga postures and principles that create a successful and effective yoga practice.</p>
<!--		<h3>Things to know for your first visit:</h3>
		<ul>
			<li><a href="assets/pdf/information-sheet.pdf">Information Sheet</a></li>
			<li>Complete and bring the <a href="assets/pdf/registration-form.pdf">registration form</a> with you to class</li>
			<li>Course fee is by donation. Your donations will be used for purchasing yoga mats and other yoga accessories for your use at InFoe. Your donations will also support  <a href="http://www.globalgiving.org/projects/support-for-children-with-autism-in-tajikistan/">children with autism in Tajikistan</a>.</li>
		</ul>
-->
	</div>
	<aside>
		<div class="teaser">
			<ul>
				<li><time>Mondays 18:00 - 19:30</time></li>
			</ul>
			Location: Silcherschule Playground (Seelhausgasse 31, near InFö)<br />
			<br style="margin-bottom:240px;"/>
<!--			<p>at <a href="http://www.infoe-tuebingen.de/">InFoe</a><br />
			Mauerstr. 2<br />
			72070 Tuebingen</p>
			<a class="button disabled" href="http://doodle.com/md8syvncncacw8xm">No registration required</a>
			<p class="footnote">Course fee by donation. Yoga mats, blocks, and straps are available.</p>
-->
			<a class="button" href="schedule.html?class-id=hatha-at-info">Upcoming sessions</a>

		</div>
	</aside>
</article>
