<article class="clearfix">
	<div>
		<h2>Sunday Yoga</h2>
		<p>Our Sunday classes promote a better understanding of yoga practices. Each class focuses on a special theme to guide students through practice with clarity and intention. Previous themes include anapana meditation, yoga for willpower and confidence, yin, yoga nidra, office yoga, hormone yoga, chakra yoga and yoga for back pain. These session are open to all, and are taught by a rotation of experienced teachers from Germany, the United States, South Africa, and Iran. The course language is English unless otherwise noted.</p>

	</div>
	<aside>
		<div class="teaser">
			<ul>
				<li><time datetime="17:00">Sundays 18:00-19:00</time></li>
			</ul>
			Location: Online via Zoom<br />
			<br style="margin-bottom:240px;"/>
<!--			<p>at <a href="http://www.infoe-tuebingen.de/">InFoe</a><br />
			Mauerstr. 2<br />
			72070 Tuebingen</p>
			<a class="button disabled" href="http://doodle.com/poll/s3228x3quiiexihn">No registration required</a>
			<a class="button" href="https://doodle.com/poll/6gu493d92u8774uz">SUP Yoga Registration</a>
			<p class="footnote">Course fee by donation</p>
-->
			<a class="button" href="schedule.html?class-id=weekend">Upcoming sessions</a>

		</div>
	</aside>
</article>
