<!--
<article class="clearfix">
	<div>
		<h2>Break it Down: Breakdance Yoga Fusion</h2>
		<p>Join us for a fun and challenging 90-minute session that weaves together movements inspired from the worlds of street dance and yoga. The course is co-taught by Alex Immel and Solmaz Mohadjer. The session includes vinyasa yoga as a warm up and preparation for breakdance movements related to yoga, and step by step instruction and practice for back spins and six steps. No experience is necessary. Bring  your water bottle and loose clothes and be ready to play hard.</p>
	</div>
	<aside>
		<div class="teaser">
			<ul>
				<li><time datetime="2015-02-02 18:00">Monday - March 2, 2015<br />18:00 - 19:30</time></li>
			</ul>
			<p>at <a href="http://www.infoe-tuebingen.de/MGH/Main">InFö</a><br />
			Mauerstr. 2<br />
			72070 Tübingen</p>
				<a class="button" href="http://doodle.com/4a526xfayaddmxud">Reserve a spot</a>
			<p class="footnote">Course fee is by donation.</p>
		</div>
	</aside>
</article>
-->
