<!--
<article class="clearfix">
	<div>
		<h2>Hatha Yoga at Familien-Bildungsstätte</h2>
		<p>In this class, students learn to connect the movement of the body and fluctuations of the mind to the rhythm of their breath. Students learn classical yoga postures and breathing practices to develop whole-body strength, flexibility (of body and mind), concentration and awareness of breath. Additionally, students learn to create proper body alignment by assessing their posture and lifestyle and incorporating simple poses into their regular practice and applying them throughout their daily life. Each class starts with breath awareness and a warm up, followed by a series of standing and floor postures. The class ends with calming poses that encourage the body and the mind to cool down, relax, and meditate. Students also learn how to use proper props to correct and improve alignment in each pose. The small class size ensures personalized attention, and a chance to build connection with other yoga students.</p>
	</div>
	<aside>
		<div class="teaser">
			<ul>
				<li><time datetime="18:00">Fridays 18:00 – 19:30</time></li>
			</ul>
			<p>at <a href="http://www.fbs-tuebingen.de/programm/kursort_detail.php?Kursort=FBS">die Familien-Bildungsstätte</a><br />
			Christoph-Eck<br />
			Christophstr. 10<br />
			72072 Tübingen</p>
			<a class="button disabled" href="https://www.fbs-tuebingen.de/programm/kurs.php?nummer=6142%20C">Registration is closed</a>
			<a class="button" href="schedule.html?class-id=hatha-at-fbs">Upcoming sessions</a>
			<p class="footnote">Yoga mats are available.</p>
		</div>
	</aside>
</article>
-->
