<!--
<article class="clearfix">
	<div>
		<h2>Yoga for Meditation</h2>
		<p>Why do we meditate? What good does it do? What are the obstacles to becoming a successful meditator and how do we overcome them? This course will teach foundational techniques of meditation (awareness, concentration, relaxation) as supported by hatha yoga practices. Simple postures and exercises will be used to calm the mind, relax the body, and prepare for meditation. You will learn and experience different styles of meditation (e.g., Yoga Nidra, Anapana, Metta loving-kindness), so that you can ultimately discover what works best for you.</p>
	</div>
	<aside>
		<div class="teaser">
			<ul>
				<li><time>Fridays 18:15 - 19:30</time></li>
			</ul>
			<p>at <a href="http://yoga-raum-tuebingen.de/">Yoga Raum</a><br />
			Westbahnhofstr. 53<br />
			72070 Tuebingen</p>
			<a class="button" href="schedule.html?class-id=yoga-for-meditation">Upcoming sessions</a>
			<a class="button" href="https://doodle.com/poll/8w5exwaivfavnxkq">Reserve a spot</a>
		</div>
	</aside>
</article>
-->
