<article class="teacher clearfix">
	<h2>Solmaz Mohadjer</h2>
	<figure>
		<img src="/assets/images/teacher1.jpg" alt="" />
	</figure>
	<section class="teacher__section">
		<p>Solmaz's classes emphasize alignment, mindfulness, and finding the appropriate posture for each individual body. She encourages her students to learn how to practice the poses safely, how to hold the poses to build and improve strength, flexibility and concentration.</p>
		<p>Her yoga teaching experiences include:</p>
		<ul>
			<li>Open Yoga, Online, 03/2020 - present</li>
			<li>InFö, Tübingen, Germany, 06/2013 - 02/2020</li>
			<li>Clubhaus, Tübingen, Germany, 03/2018 - 02/2020</li>
			<li>Familien Bildungsstätte, Tübingen, Germany, 10/2014 - 07/2018</li>
			<li>Hochschulsport, Uni. of Tübingen, Germany, 10/2015 - 2/2016</li>
			<li>IRODA, Dushanbe, Tajikistan, 01/2013 - 03/2013</li>
			<li>Indian Embassy, Dushanbe, Tajikistan, 04/2012 - 03/2013</li>
		</ul>
		<p>Her yoga and meditation training include:</p>
		<ul>
		    <li>200-hour teacher training program, <a href="http://yogaworks.com/">YogaWorks</a>, Vancouver BC, Canada, 07/2011</li>
		    <li>Vipassana meditation,  <a href="http://www.sumeru.dhamma.org/Introduction.1347.0.html">Swiss Vipassana Center</a>, Switzerland, 10/2013, and <a href="http://www.giri.dhamma.org/">Vipassana International Academy</a>, India, 04/2013</li>
		</ul>
		<div class="news clearfix">
			<h2>In the news!</h2>
				<figure>
					<img src="/assets/images/bbc.jpg" alt="" />
					<figcaption>Practicing Yoga with Parents of Children with Autism in Tajikistan
						<p><a href="http://www.bbc.co.uk/persian/world/2013/03/130304_l93_child_autism.shtml">Watch on BBC Persian</a></p>
					</figcaption>
				</figure>
				<figure>
					<img src="/assets/images/3.jpg" alt="" />
					<figcaption>Yoga Classes at the Indian Embassy in Tajikistan
						<p><a href="http://www.ozodi.org/content/article/24921179.html">Listen on Radio Azadi</a></p>
					</figcaption>
				</figure>
			</a>
		</div>
	</section>
	<section class="teacher__section">
		<h3>My next class:</h3>
		<ul class="list">
			{{> partials/class/solmaz }}
		</ul>
		<p><a class="icon-arrow" href="schedule.html?teacher-id=solmaz">See all my classes</a></p>
	</section>
</article>
