<article class="teacher clearfix">
	<h2>Peter Kloos</h2>
	<figure>
		<img src="/assets/images/peter.JPG" alt="" />
	</figure>
	<section class="teacher__section">
		<p>An avid athlete and outdoorsman, Peter's first experience with yoga came in 2010. He was drawn to the increased strength, flexibility, concentration and awareness that a dedicated yoga practice offers. For him, yoga is a way of staying grounded and balanced. His teaching style is down to earth and slow-paced, with an emphasis on relaxation and mindfulness.</p>
	    <p>Yoga teaching experiences:</p>
		<ul>
			<li> Open Yoga, Online, 03/2020 - 10/2021</li>
			<li> InFö, Tübingen, Germany, 05/2016 - 02/2020</li>
		</ul>
		<p> Yoga and meditation training:</p>
		<ul>
			<li>200-hr teacher training program, <a href="http://www.sivananda.org/">Sivananda Meenakshi Ashram</a>, Madurai, India, 11/2014</li>
			<li>Vipassana meditation, <a href="https://www.pataka.dhamma.org/">Dhamma Pataka</a>, Worcester, South Africa, 09/2012</li>
		</ul>
	</section>
	<!--
	<section class="teacher__section">
		<h3>My next class:</h3>
		<ul class="list">
			{{!--
			{{> partials/class/peter }}
			--}}
		</ul>
		<p><a class="icon-arrow" href="schedule.html?teacher-id=peter">See all my classes</a></p>
	</section>
	-->
</article>
